/* Variable */
:root{
    --primaryColor:#ad1f2b;
}

/* Universal Selector */
*{
    font-family: "Jost", sans-serif;
    
}


/* Hero Section CSS */
.heroSection{
    background-image: url(../images/imgi_31_hero2-2.jpg);
}
.heroSection img{
    border-radius: 10px;
}
#heroForm{
    background: white;
    padding: 30px;
    border-radius: 10px;
}

/* Servics Section CSS */

#Services i{
    font-size: 44px;
    padding-top: 15px;
    color: var(--primaryColor);
}
#Services:hover{
    background: #ecebf5;
   /* transition: servicesTransition 7s infinite;*/
}


/* Scholarship Test Section CSS */
#ScholarShipTest h2{
    font-size: 38px;
    font-weight: 800;
    
}
#ScholarShipTest button{
    font-size: 18px;
    color: white;
    padding: 15px 20px;
    background: var(--primaryColor);
}
#ScholarShipTestContent p{
    font-size: 18px;
    color: black;
    line-height: 28px;
}
.whoCanApplyOutter{
    overflow: hidden;
    border: none;
}
.whoCanApplyOutter img{
    transition: 1.2s;
}
.whoCanApplyOutter:hover img{
    transform: scale(1.2);
}
.whoCanApply{
    position: absolute;
    font-size: 24px;
    bottom: 10px;
}


/* Benefits Section CSS */
#benefitSection{
    background: #ecebf5;
    border-radius: 20px;
}
#benefitSection span{
    font-size: 55px;
    font-weight: 700;
    color: #e62737;
}
#benefitSection p{
    color: black;
    font-size: 18px;
    font-weight: 600;
}
#benefitSection h2{
    font-size: 55px;
    font-weight: 700;
}

/* Why Law Prep Section CSS */
.whyLawPrep{
    border-radius: 10px;
    
}
.whyLawPrepSection img{
    height: 200px;
    border-radius: 10px;
    
}
.whyLawPrepContent h3{
    font-size: 40px;
    color: white;
}
.whyLawPrepContent p{
    font-size: 15px;
    color: white;
}
.whyLawPrepContent{
    position: absolute;
    top: 50px;
    left: 10px;
}
.whyLawPrepSection2{
    background-color: var(--primaryColor);
    position: relative;
    border-radius: 10px;
}

/* Video Section CSS */
.videoOutter h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #000000;
}
.videoSection{
    background-color: transparent;
    background-image: linear-gradient(180deg, #AE202C 0%, #000000 40%);
    height: 450px;
    position: relative;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
}


.videoSection p{
    font-size: 18px;
    font-weight: 500;
    color: white;
    
}
.videoSection h4{
    font-size: 17px;
    font-weight: 400;
    color: #C0BDDB;
}
.studentImg{
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 0px 0px 0px 20px;
}
.videoSection button{
    position: absolute;
    bottom: 10px;
    right: 15px;
    background-color: #B7979780;
    font-family: "Jost", Sans-serif;
    font-size: 17px;
    font-weight: 500;
    border-radius: 50px;
    padding: 15px;
    color: white;
    text-align: center;
    z-index: 1;
}

/* FAQ Section Css */
.FAQ{
    background-color: #f2f2f2;
}
.FAQ h2{
    font-size: 48px;
    font-weight: 700;
}
.FAQOutter{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}
.FAQOutter h2 button{
    font-size: 18px;
    font-weight: 600;
}

.FAQOutter h2 button:hover{
    color: var(--primaryColor);
    border: none;
    background: white;
}


/* Registeration Section CSS */
#RegisterHead{
    background-color: transparent;
    background-image: linear-gradient(90deg, #AE202C 0%, #000000 100%);

}

#registerContent{
    background-color: #1C174D;
}
#registerContent button{
    background: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 70px;
}

/* Footer Section CSS */
footer{
    background: #3c3c3d;
}